
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/MM.cshtml";
}

<div class="widget-program-box mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="hpanel widget-int-shape responsive-mg-b-30">
                    <div class="panel-body">
                        <div class="text-center content-box">
                            <h2 class="m-b-xs">Faculties</h2>
                            <h3 style="color:#006DF0">128</h3>
                            <div class="m icon-box">
                                <i class="educate-icon educate-department" style="font-size:75px; color:#006DF0"></i>
                            </div>
                            <p class="small mg-t-box">
                                Lorem Ipsum passages and more recently with the desktop published software like Aldus PageMaker.
                            </p>
                            <a href="#" class="btn" style="width:90%; background-color:#006DF0"><strong style="color:white; font-size:15px">Select</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="hpanel widget-int-shape responsive-mg-b-30">
                    <div class="panel-body">
                        <div class="text-center content-box">
                            <h2 class="m-b-xs">Teachers</h2>
                            <h3 style="color:#933EC5">128</h3>
                            <div class="m icon-box">
                                <i class="educate-icon educate-professor" style="font-size:75px; color:#933EC5"></i>
                            </div>
                            <p class="small mg-t-box">
                                Lorem Ipsum passages and more recently with the desktop published software like Aldus PageMaker.
                            </p>
                            <a href="#" class="btn" style="width:90%; background-color:#933EC5"><strong style="color:white; font-size:15px">Select</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="hpanel widget-int-shape responsive-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="panel-body">
                        <div class="text-center content-box">
                            <h2 class="m-b-xs">Students</h2>
                            <h3 style="color:#65B12D">128</h3>
                            <div class="m icon-box">
                                <i class="educate-icon educate-student" style="font-size:75px; color:#65B12D"></i>
                            </div>
                            <p class="small mg-t-box">
                                Lorem Ipsum passages and more recently with the desktop published software like Aldus PageMaker.
                            </p>
                            <a href="#" class="btn" style="width:90%; background-color:#65B12D"><strong style="color:white; font-size:15px">Select</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="hpanel widget-int-shape res-tablet-mg-t-30 dk-res-t-pro-30">
                    <div class="panel-body">
                        <div class="text-center content-box">
                            <h2 class="m-b-xs">Contributions</h2>
                            <h3 style="color:#D80027">128</h3>
                            <div class="m icon-box">
                                <i class="educate-icon educate-data-table" style="font-size:75px; color:#D80027"></i>
                            </div>
                            <p class="small mg-t-box">
                                Lorem Ipsum passages and more recently with the desktop published software like Aldus PageMaker.
                            </p>
                            <a href="@Url.Action("FacultiesList","MarketingManagers")" class="btn" style="width:90%; background-color:#D80027"><strong style="color:white; font-size:15px">Select</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

