.courses-area .container-fluid {
    margin-left: 20px;
    margin-right: 20px;
}

.courses-area .container-fluid .row {
    background-color: #ffffff;
}

.courses-title {
    height: 230px;
}

.sidebar-header {
    height: 60px;
}

.main-logo {
    padding-top:10px;
}

/*.footer-copyright-area {
    bottom:0;
}*/