
@{
    ViewBag.Title = "SendEmail";
    Layout = "~/Views/Layout/MC.cshtml";
}

<div class="mailbox-compose-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
                <div class="hpanel shadow-inner responsive-mg-b-30">
                    <div class="panel-body">
                        <a href="mailbox_compose.html" class="btn btn-success compose-btn btn-block m-b-md">Compose</a>
                        <ul class="mailbox-list">
                            <li>
                                <a href="#">
                                    <span class="pull-right">12</span>
                                    <i class="fa fa-envelope"></i> Inbox
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-paper-plane"></i> Sent</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pencil"></i> Draft</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-trash"></i> Trash</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="mailbox-list">
                            <li>
                                <a href="#"><i class="fa fa-plane text-danger"></i> Travel</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart text-warning"></i> Finance</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-users text-info"></i> Social</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tag text-success"></i> Promos</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-flag text-primary"></i> Updates</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="mailbox-list">
                            <li>
                                <a href="#"><i class="fa fa-gears"></i> Settings</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-info-circle"></i> Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
                <div class="hpanel email-compose">
                    @using (Html.BeginForm("SendEmail", "MarketingCoordinators", FormMethod.Post))
                    {
                        <div class="panel-heading hbuilt">
                            <div class="p-xs h4">
                                New message
                            </div>
                        </div>
                        <div class="panel-heading hbuilt">
                            <div class="p-xs">
                                <div class="form-group">
                                    <label class="col-lg-1 control-label text-left">To:</label>
                                    <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                                        @*<input name="email" type="text" class="form-control input-sm" placeholder="example@email.com">*@
                                        @Html.TextBox("s_email", "", new { @name = "email", @class = "form-control input-sm", @placeholder = "example@email.com" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-1 control-label text-left">Cc:</label>
                                    <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                                        @*<input id="recipient_email" type="text" class="form-control input-sm">*@
                                        @Html.TextBox("cc", "", new { @id = "recipient_email", @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-1 control-label text-left">Subject:</label>
                                    <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                                        @*<input type="text" class="form-control input-sm" placeholder="Subject">*@
                                        @Html.TextBox("subject", "", new { @class = "form-control input-sm", @placeholder = "Subject" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-1 control-label text-left">Message:</label>
                                    <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                                        @*<input type="text" class="form-control input-sm" placeholder="Subject">*@
                                        @Html.TextArea("body", "", new { @class = "form-control", @style="width:100%;height:250px" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="background:none; border-top:none">
                            <button type="submit" class="btn btn-primary ft-compse">Send email</button>
                        </div>
                    }
                </div>
            </div>


        </div>
    </div>
</div>