USE [master]
GO
/****** Object:  Database [UMCS]    Script Date: 4/21/2019 4:23:53 PM ******/
CREATE DATABASE [UMCS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UMCS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\UMCS.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UMCS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\UMCS_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UMCS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UMCS]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Administrator](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contributions]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contributions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[DateSubmit] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[Description] [nvarchar](50) NULL,
	[Type] [nvarchar](10) NULL,
	[FileType] [nvarchar](10) NULL,
	[ArchiveLink] [varchar](100) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK__Contribu__3214EC27E21DF0FB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Faculty](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MarketingManagerID] [int] NULL,
	[FacultiesID] [int] NULL,
	[Role] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[Age] [int] NULL,
	[Image] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK__Faculty__3214EC273A9ECC5D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MarketingManager]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MarketingManager](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[Age] [int] NULL,
	[Image] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FacultiesID] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Image] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Contributions] ON 

INSERT [dbo].[Contributions] ([ID], [StudentID], [Title], [DateSubmit], [LastUpdate], [Description], [Type], [FileType], [ArchiveLink], [Status]) VALUES (1, 1, N'ASPNET_MVC_WEB_API-MyFile', CAST(N'2019-03-22T10:17:30.610' AS DateTime), NULL, NULL, N'Document', N'.doc', N'/Files/AnthonyBruce_SID1_IT_ASPNET_MVC_WEB_API-MyFile.doc', N'Pending')
INSERT [dbo].[Contributions] ([ID], [StudentID], [Title], [DateSubmit], [LastUpdate], [Description], [Type], [FileType], [ArchiveLink], [Status]) VALUES (2, 1, N'cat', CAST(N'2019-03-22T10:18:24.477' AS DateTime), NULL, NULL, N'Image', N'.jpg', N'/Files/AnthonyBruce_SID1_IT_cat.jpg', N'Pending')
INSERT [dbo].[Contributions] ([ID], [StudentID], [Title], [DateSubmit], [LastUpdate], [Description], [Type], [FileType], [ArchiveLink], [Status]) VALUES (3, 1, N'minion', CAST(N'2019-03-23T08:14:46.683' AS DateTime), NULL, NULL, N'Image', N'.jpg', N'/Files/AnthonyBruce_SID1_IT_minion.jpg', N'Pending')
SET IDENTITY_INSERT [dbo].[Contributions] OFF
SET IDENTITY_INSERT [dbo].[Faculties] ON 

INSERT [dbo].[Faculties] ([ID], [FacultyName]) VALUES (1, N'IT')
SET IDENTITY_INSERT [dbo].[Faculties] OFF
SET IDENTITY_INSERT [dbo].[Faculty] ON 

INSERT [dbo].[Faculty] ([ID], [MarketingManagerID], [FacultiesID], [Role], [FirstName], [LastName], [Gender], [Age], [Image], [Phone], [Email], [Address], [Username], [Password]) VALUES (2, 11, 1, N'Faculty', N'Charles', N'Darwin', N'Male', 32, N'/Avatars/cat195747870.jpg', N'0123456789', N'charles@gmail.com', N'USA', N'charles_darwin', N'123')
INSERT [dbo].[Faculty] ([ID], [MarketingManagerID], [FacultiesID], [Role], [FirstName], [LastName], [Gender], [Age], [Image], [Phone], [Email], [Address], [Username], [Password]) VALUES (3, 11, 1, N'Marketing Coordinator', N'Bethany', N'Curly', N'Female', 28, N'/Avatars/cat195747870.jpg', N'0123456789', N'bethanycurly@gmail.com', N'USA', N'bethany_curly', N'123')
SET IDENTITY_INSERT [dbo].[Faculty] OFF
SET IDENTITY_INSERT [dbo].[MarketingManager] ON 

INSERT [dbo].[MarketingManager] ([ID], [FirstName], [LastName], [Gender], [Age], [Image], [Phone], [Email], [Address], [Username], [Password]) VALUES (11, N'Anthony', N'Bruce', N'Male', 30, NULL, N'0123456789', N'anthony@gmail.com', N'USA', N'anthony_bruce', N'123')
SET IDENTITY_INSERT [dbo].[MarketingManager] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([ID], [FacultiesID], [FirstName], [LastName], [Gender], [DateOfBirth], [Image], [Phone], [Email], [Address], [Username], [Password]) VALUES (1, 1, N'Darcy', N'Embruso', N'Female', CAST(N'1991-01-01' AS Date), N'/Avatars/cat195747870.jpg', N'0123456789', N'darcy@gmail.com', N'USA', N'darcy_embruso', N'123')
SET IDENTITY_INSERT [dbo].[Students] OFF
ALTER TABLE [dbo].[Contributions]  WITH CHECK ADD  CONSTRAINT [FK__Contribut__Stude__45F365D3] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[Contributions] CHECK CONSTRAINT [FK__Contribut__Stude__45F365D3]
GO
ALTER TABLE [dbo].[Faculty]  WITH CHECK ADD  CONSTRAINT [FK_Faculty_Faculties] FOREIGN KEY([FacultiesID])
REFERENCES [dbo].[Faculties] ([ID])
GO
ALTER TABLE [dbo].[Faculty] CHECK CONSTRAINT [FK_Faculty_Faculties]
GO
ALTER TABLE [dbo].[Faculty]  WITH CHECK ADD  CONSTRAINT [FK_Faculty_MarketingManager] FOREIGN KEY([MarketingManagerID])
REFERENCES [dbo].[MarketingManager] ([ID])
GO
ALTER TABLE [dbo].[Faculty] CHECK CONSTRAINT [FK_Faculty_MarketingManager]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([FacultiesID])
REFERENCES [dbo].[Faculties] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMarketingManager]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DeleteMarketingManager]
	@ID int
as
begin
	set nocount on;
	delete from MarketingManager
	where ID = @ID
end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMarketingManager]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetAllMarketingManager]
AS
SELECT * FROM MarketingManager

GO
/****** Object:  StoredProcedure [dbo].[sp_GetMarketingManagerById]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetMarketingManagerById] @ID int
as
select * from MarketingManager where ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[sp_PostMarketingManager]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_PostMarketingManager]
	@FirstName nvarchar(50),
	@LastName nvarchar(50),
	@Gender nvarchar(10),
	@Age int,
	@Image varchar(100),
	@Phone varchar(20),
	@Email nvarchar(50),
	@Address nvarchar(50),
	@Username nvarchar(50),
	@Password varchar(50)
as
begin
	set NOCOUNT on;
		insert into MarketingManager(FirstName, LastName, Gender, Age, [Image], Phone, Email, [Address], Username, [Password])
		values (@FirstName, @LastName, @Gender, @Age, @Image, @Phone, @Email, @Address, @Username, @Password)
	select SCOPE_IDENTITY() as ID
end

GO
/****** Object:  StoredProcedure [dbo].[sp_PutMarketingManager]    Script Date: 4/21/2019 4:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_PutMarketingManager]
	@ID int,
	@FirstName nvarchar(50),
	@LastName nvarchar(50),
	@Gender nvarchar(10),
	@Age int,
	@Image varchar(100),
	@Phone varchar(20),
	@Email nvarchar(50),
	@Address nvarchar(50),
	@Username nvarchar(50),
	@Password varchar(50)
as
begin
	set nocount on;
	update MarketingManager
	set FirstName = @FirstName,
		LastName = @LastName,
		Gender = @Gender,
		Age = @Age,
		[Image] = @Image,
		Phone = @Phone,
		Email = @Email,
		[Address] = @Address,
		Username = @Username,
		[Password] = @Password
	where ID = @ID
end
GO
USE [master]
GO
